.main-body
{
	margin: 20px auto 20px auto;
	*max-width: 1050px;
}

/* ****************************** */
.menu-shopcart img
{
	width: 30px;
	margin-right: 3px;
}
.navbar-default .navbar-nav>li>a
{
	padding: 3px 20px 3px 10px;
	color: #17BE00;
	font-weight: bold;
	margin-top: 7px;
}
.menu-shopcart img
{
	
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
{
	font-weight: bold;	
	color: #F8F808;
	background-color: #5cb85c;
}
/* ****************************** */
table.table.table-striped.table-hover.table-condensed.table-small td,
table.table.table-striped.table-hover.table-condensed.table-small tr td a
{
	font-size: 10px;
	font-family: verdana;
}

.header-table-cards
{
	background-color: #5cb85c;
	color: #fff;
}
table, .table
{
	min-width: 800px;
	*max-width: 830px;
}
table, .table.table-message
{
	min-width: 480px;
	max-width: 480px;
}
table tr th
{
	text-align: center;
	font-size: 13px;
}
table tr td
{
	text-align: center;
	font-size: 12px;
}
.td-center
{
	text-align: center;
}
.table-condensed>tbody>tr>td
{
	vertical-align: middle;
}
.td-right
{
	text-align: right;
}
.td-left
{
	text-align: left;
}

.td-font-green
{
	color: "green";
}


.small-font
{
	font-size: 10px;
}
.large-font
{
	font-size: 13px;
}
.disp-block
{
	display: block;
}

.td-card-type
{
	padding: 4px 6px;
}
.card-type
{
	padding: 0px;
}
.td-card-type.white, .card-type.white
{
	color: #D7DF20;
}
.td-card-type.blue, .card-type.blue
{
	color: #5290FD;
}
.td-card-type.black, .card-type.black
{
	color: #303030;
}
.td-card-type.red, .card-type.red
{
	color: #E70606;
}
.td-card-type.green, .card-type.green
{
	color: #00AF2A;
}
.td-card-type.land, .td-card-type.artifact,
.card-type.land, .card-type.artifact
{
	color: #926161;
}
.img-mana
{
	height:12px;
	width:12px;
}
a.order-ASC
{
	color: #FFF;
	text-decoration: underline;
}
a.order-DESC
{
	color: #FFF;
	text-decoration: overline;
}
.mtgsymbol img
{
	width: 22px;
}


/* **************************************** */
/* **************************************** */
div.rare-U, div.rare-C, div.rare-R
{
	width: 16px;
	height: 16px;
	border: 1px solid #54595A;
	border-radius: 8px;
	background: #54595A;
	margin: 0px auto 0px auto;
	color: #FFF;
}
div.rare-U
{
	border: 1px solid #88D7F7;
	background: #88D7F7;
	color: #000;
}
div.rare-R
{
	border: 1px solid #F1C100;
	background: #F1C100;
	color: #000;
}
/* **************************************** */
/* http://codepen.io/rss/pen/ftnDd */
/*Filter styles*/
.saturate {-webkit-filter: saturate(3);}
.grayscale {-webkit-filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px);}
.invert {-webkit-filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);}
.rss.opacity {-webkit-filter: opacity(50%);}
/* **************************************** */
/* **************************************** */
/* **************************************** */
.cardmain
{
	width:480px;
}
.cardimg
{
	width:200px;
}
.imgSet
{
	text-align: center;
	padding: 6px 4px;
}
.collect-title
{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 8px;
}
.collect-title img
{
	width: 37px;
	margin-right: 14px;
}
.cardtext-info p
{
	padding: 5px 10px 0px 10px;
	text-align:justify;
}
.cardtext-info .language
{
	font-weight: bold;
}
.collections
{
	min-width: 170px;
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
	margin-right: -5px;
	position: absolute;
}
.collections .title
{
	font-weight: bold;
	font-size: 12px;
	padding: 2px 0px 2px 12px;
	display: inline-block;
	background: #ddd;
	margin-left: 6px;
	margin-right: 6px;
	width: 160px;
	color: #666666;
}
.collections ul
{
	margin-left: 6px;
	margin-right: 6px;
	padding: 2px 0px 2px 0px;
	border: 2px solid #ddd;
}
.collections ul li
{
	margin-left: 10px;
	padding: 0px 0px 0px 0px;
}
.cardslist
{
	display: inline-block;
	margin-left: 172px;
}

/* ************************************** */
.pagination
{
	text-align: center;
	display: block;
	margin: 10px 0px;
	*max-width: 830px;
}
.pagination a.active
{
	font-weight: bold;
	text-decoration: underline;
	background: #428bca;
}
.pagination a
{
	background: #969696;
	color: #fff;
	padding: 2px 6px;
}
/* ************************************** */
/* ************************************** */
.cart-cardimg img
{
	width: 80px;
}
.cart-shipp
{
	background: #ccc;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td
{
	vertical-align: middle;
}
.cart-sippcost
{

}
.cart-shipp2
{
	background: #eee;
}
.removeCard img
{
	cursor: hand;
}
.priceMagicTuga
{
	color: #FC5454;
	font-weight: 300;
}
.priceDesconto
{
	color: #438F38;
	font-weight: bold;
}
.cart-total
{

}
.bold-light
{
	font-weight: 300;
}
.bold
{
	font-weight: bold;
	font-size: 0.8em;
}


/* ************************************** */
/* ************************************** */
