<form role="form" name="card_information" method="POST" action="" style="max-width:350px">
	<div class="form-group">
		<textarea class="form-control" rows="4"></textarea>
		<input type="button" onclick="parseMagicInformation(this);" value="Magic Information">
		<br/>
		<input type="button" onclick="parseMagicInfoAjax(this);" value="Magic Information">
	</div>


	<div class="form-group">
		<table>
			<tr>
				<th colspan="2">Nome</th>
			</tr>
			<tr>
				<td><input class="form-control" type="text" name="name_eng" value="" placeholder="Inglês" required></td>
				<td><input class="form-control" type="text" name="name_pt" value="" placeholder="Português" required></td>
			</tr>
		</table>
	</div>
	<div class="form-group">
		<label for="color">Cor</label>
		<select class="form-control" name="color" id="color">
			<option value="0" selected disabled>Cor...</option>
			<option value="1">Branco</option>
			<option value="2">Azul</option>
			<option value="3">Preto</option>
			<option value="4">Vermelho</option>
			<option value="5">Verde</option>
			<option value="6">Multicolor</option>
			<option value="7">Artefacto</option>
			<option value="8">Terreno</option>
		</select>
	</div>
	<div class="form-group">
		<select class="form-control" name="id_collection" required>
			<option value="0" selected disabled>Colecção...</option>
			<option value="1">9ª Edição</option>
			<option value="2">Onslaught</option>
		</select>
	</div>
	<div class="form-group">
		<select class="form-control" name="id_cardtype" required>
			<option value="0" selected disabled>Tipo de Carta...</option>
			<option value="1">Criatura</option>
			<option value="2">Feitiço</option>
			<option value="3">Encantamento</option>
			<option value="4">Mágica Instantânea</option>
			<option value="5">Terreno</option>
			<option value="6">Artefacto</option>
		</select>
	</div>

	<div class="form-group">
		<table>
			<tr>
				<th>Custo de mana</th>
				<th>Nº Carta</th>
			</tr>
			<tr>
				<td><input class="form-control" type="text" name="mana_cost" value="" placeholder="2gg (2 green green)"></td>
				<td><input class="form-control" type="number" name="number" value="" placeholder="Número da Carta"></td>
			</tr>
		</table>
	</div>
	<div class="form-group">
		<table>
			<tr>
				<th>Pontos</th>
				<th>Raridade</th>
			</tr>
			<tr>
				<td><input class="form-control" type="text" name="points" value="" placeholder="2/2" style="max-width:100px;"></td>
				<td>
					<select class="form-control" name="rare" style="width:250px" required>
						<option value="0" selected disabled>Raridade</option>
						<option value="C">Comum</option>
						<option value="U">Incomum</option>
						<option value="R">Rara</option>
						<option value="Z">Outro</option>
					</select>
				</td>
			</tr>
		</table>
	</div>
	<div class="form-group">
		<table>
			<tr>
				<th>Stock</th>
				<th>Preço</th>
			</tr>
			<tr>
				<td><input class="form-control" type="number" name="stock" value="1" required></td>
				<td><input class="form-control" type="number" name="price" value="0.10" step="0.10" size="4" required></td>
			</tr>
		</table>
	</div>
	<div class="form-group">
		<table>
			<tr>
				<td><textarea class="form-control" name="description_eng" col="5" rows="3" placeholder="Descrição Inglês"></textarea></td>
				<td><textarea class="form-control" name="description_pt" col="5" rows="3" placeholder="Descrição Português"></textarea></td>
			</tr>
		</table>
	</div>
	<div class="form-group">
		<input class="form-control" type="text" name="image_url" value="" placeholder="Imagem URL" required>
	</div>
	<br>
	<input type="button" value="Guardar" class="btn btn-success" onclick="jxToggleForm('card_information','append')">
</form>

