<div class="cardmain" id="cardinfo">
	<table class="table table-bordered table-condensed table-message">
		<tr class="header-table-cards">
			<th>Nome</td>
			<th>Stock</td>
			<th>Preço</td>
			<th>Quantidade</td>
		</tr>
		<tr>
			<td><b>{name_eng}</b><br>{name_pt}</td>
			<td>{stock}</td>
			<td>{nosso_price}€</td>
			<td style="min-width:150px">{stock_selector}</td>
		</tr>
		<tr class="header-table-cards">
			<th>Imagem</td>
			<th colspan="3">Informação</td>
		</tr>
		<tr>
			<td><img src="http://mtgimage.com/multiverseid/{multiverseid}.jpg" title="" class="cardimg"></td>
			<td colspan="3" class="cardtext-info">
				<span class="language">Em inglês</span>
				<p>{text_eng_imgs}</p>
				<span class="language">Em português</span>
				<p>{text_pt_imgs}</p>
			</td>
		</tr>
	</table>
</div>