		
	<div class="collections">
		<span class="title">Expansões</span>
		<ul class="list-unstyled">
			{loop func="listCollections"}
			<li><a href="http://localhost/magic/?op=lista&collection={magic_set}">{name_eng}</a> ({total_cards})</li>
			{/loop}
		</ul>
	</div>
