<?php 
	if (!isset($_GET['ajax']))
	{
?>
	<div class="table-responsive cardslist" data-id="search-results">
<?php
	}
?>
	{loop func="collectionFilter"}
		<ul class="list-inline" style="text-align:center; margin-left: 0px;">
			<li><a class="card-type white" href="http://localhost/magic/?op=lista&collection={url_magic_set}&type=white{url_rarity}" title="Brancas"><img style="width:30px" src="http://mtgimage.com/symbol/mana/w.svg"></a></li>
			<li><a class="card-type blue" href="http://localhost/magic/?op=lista&collection={url_magic_set}&type=blue{url_rarity}" title="Azuis"><img style="width:30px" src="http://mtgimage.com/symbol/mana/u.svg"></a></li>
			<li><a class="card-type black" href="http://localhost/magic/?op=lista&collection={url_magic_set}&type=black{url_rarity}" title="Pretas"><img style="width:30px" src="http://mtgimage.com/symbol/mana/b.svg"> </a></li>
			<li><a class="card-type red" href="http://localhost/magic/?op=lista&collection={url_magic_set}&type=red{url_rarity}" title="Vermelhas"><img style="width:30px" src="http://mtgimage.com/symbol/mana/r.svg"></a></li>
			<li><a class="card-type green" href="http://localhost/magic/?op=lista&collection={url_magic_set}&type=green{url_rarity}" title="Verdes"><img style="width:30px" src="http://mtgimage.com/symbol/mana/g.svg"></a></li>
			<li><a class="card-type multi" href="http://localhost/magic/?op=lista&collection={url_magic_set}&type=multi{url_rarity}" title="Multicolores"><img style="width:30px" src="http://mtgimage.com/symbol/mana/br.svg"></a></li>
			<br>
			<li style="margin-top:8px;"><a class="card-type artifact" href="http://localhost/magic/?op=lista&collection={url_magic_set}&type=land{url_rarity}">Terrenos</a></li>
			<li><a class="card-type land" href="http://localhost/magic/?op=lista&collection={url_magic_set}&type=artifact{url_rarity}">Artefactos</a></li>
			|
			<li><a href="http://localhost/magic/?op=lista&collection={url_magic_set}&rare=R{url_type}">Raras</a></li>
			<li><a href="http://localhost/magic/?op=lista&collection={url_magic_set}&rare=U{url_type}">Incomuns</a></li>
			<li><a href="http://localhost/magic/?op=lista&collection={url_magic_set}&rare=C{url_type}">Comuns</a></li>
		</ul>
	{/loop}
		<table class="table table-striped table-hover table-condensed table-small">
			<thead>
				<tr class="header-table-cards">
				{loop func="tableHeadSort"}
					<th><a class="order-{Order_name}" href="http://localhost/magic/?op=lista&collection={url_magic_set}&field=name&order={Order_name}">Nome</a></th>
					<th>Edição</th>
					<th><a class="order-{Order_colors}" href="http://localhost/magic/?op=lista&collection={url_magic_set}&field=colors&order={Order_colors}">Cor</a></th>
					<th><a class="order-{Order_number}" href="http://localhost/magic/?op=lista&collection={url_magic_set}&field=number&order={Order_number}">Nº</a></th>
					<th><a class="order-{Order_type}" href="http://localhost/magic/?op=lista&collection={url_magic_set}&field=type&order={Order_type}">Tipo</a></th>
					<th><a class="order-{Order_manacost}" href="http://localhost/magic/?op=lista&collection={url_magic_set}&field=manacost&order={Order_manacost}">Mana</a></th>
					<th><a class="order-{Order_power}" href="http://localhost/magic/?op=lista&collection={url_magic_set}&field=power&order={Order_power}">P/R</a></th>
					<th><a class="order-{Order_rarity}" href="http://localhost/magic/?op=lista&collection={url_magic_set}&field=rarity&order={Order_rarity}">Rar</a></th>
					<th><a class="order-{Order_stock}" href="http://localhost/magic/?op=lista&collection={url_magic_set}&field=stock&order={Order_stock}">Stock</a></th>
					<th><a class="order-{Order_price}" href="http://localhost/magic/?op=lista&collection={url_magic_set}&field=price&order={Order_price}">Preço</a></th>
					<th><small>Preço<br>MagicTuga</small></th>
					<th style="min-width:130px;" >Quantidade</th>
				{/loop}
				</tr>
			</thead>
			<tbody>
				{loop func="cardslist"}
				<tr>
					<input type="hidden" name="idRow" value="{idRow}">
					<input type="hidden" name="multiverseid" value="{multiverseid}">
					<input type="hidden" name="jsondata" value="{jsondata}">

					<td class="td-center">
						<a href="javascript:void(0);" onclick="openCardInfo(this);" title="{text_eng}" class="large-font" >{name_eng}</a>
						<span class=" disp-block">{name_pt}</span>
					</td>
					<td class="td-center"><a href="http://localhost/magic/?op=lista&collection={magic_set}&incollection=true"><img src="http://gatherer.wizards.com/Handlers/Image.ashx?type=symbol&set={magic_set}&size=small&rarity={rarity}" ></a></td>
					<td class="td-center"><span class="td-card-type {css_color}">{color_name}</span></td>
					<td class="td-left small-font">#{number}</td>
					<td class="td-center">{type}</td>
					<td class="td-center">{mana_cost}</td>
					<td class="td-center">{points}</td>
					<!-- <td class="td-center"><img src="http://gatherer.wizards.com/Handlers/Image.ashx?type=symbol&set={magic_set}&size=small&rarity={rarity}" ></td> -->
					<td class="td-center"><div class="rare-{rarity}" title="{rarity}"></div></td>
					<td class="td-center">{stock}</td>
					<td class="td-center {css_nosso_lower}">{nosso_price}€</td>
					<td class="td-center {css_magic_higher}">{price}€</td>
					<td class="td-center">{stock_selector}</td>
		<!--
					<td>
						<select name="updateStock" onchange="actualizarCartaStock(this);" data-multi="{multiverseid}">
							<option value="0">0</value>
							<option value="1">1</value>
							<option value="2">2</value>
							<option value="3">3</value>
							<option value="4">4</value>
							<option value="5">5</value>
							<option value="6">6</value>
							<option value="7">7</value>
							<option value="8">8</value>
							<option value="9">9</value>
							<option value="10">10</value>
							<option value="11">11</value>
							<option value="12">12</value>
							<option value="13">13</value>
							<option value="14">14</value>
							<option value="15">15</value>
							<option value="16">16</value>
							<option value="16">16</value>
							<option value="17">17</value>
							<option value="18">18</value>
							<option value="19">19</value>
							<option value="20">20</value>
						</select>
					</td>
		-->
				</tr>
				{/loop}
			</tbody>
		</table>
		{echo func="paginationCards"}{/echo}
<?php 
	if (!isset($_GET['ajax']))
	{
?>
	</div>
<?php
	}
?>
	<script>repositionPages();</script>
