	
	<div class="cardslist">
		<table class="table table-striped table-hover table-condensed">
			<thead>
				<tr class="header-table-cards">
					<td>Carta</td>
					<td>Edição</td>
					<td>Quantidade</td>
					<td>Preço Unit.</td>
					<td><small>Preço Unit.<br>MagicTuga</small></td>
					<td><small>Preço Total<br>MagicTuga</small></td>
					<td>Preço Total</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				{loop func="shoppingcart"}
				<tr>
					<input type="hidden" name="idRow" value="{idRow}">
					<input type="hidden" name="multiverseid" value="{multiverseid}">
					<input type="hidden" name="jsondata" value="{jsondata}">

					<td class="mtgsymbol">
						<a href="javascript:void(0);" onclick="openCardInfo(this);" title="{text_eng}" class="large-font" >{name_eng}</a>
					</td>
					<td><img src="http://gatherer.wizards.com/Handlers/Image.ashx?type=symbol&set={magic_set}&size=small&rarity={rarity}" title="{collection_eng}"></td>
					<td>
						{stock_selector}
						({stock} em stock)
					</td>
					<td {css_nosso_lower}>{price}€</td>
					<td {css_magic_higher}>{price_magictuga}€</td>
					<td {css_sum_magic_higher}>{price_sum_magictuga}€</td>
					<td {css_sum_nosso_lower}>{total_price}€</td>
					<td class="removeCard" onclick="removeCard(this);"><img src="imgs/icon-remove.png" title="Remover carta da lista"></td>
				</tr>
				{/loop}
				{loop func="shoppingcardsTotal"}
				<tr class="cart-shipp2">
					<td>Total:</td>
					<td></td>
					<td>{len_cards}</td>
					<td></td>
					<td></td>
					<td class="priceMagicTuga">{price_total_magictuga}€</td>
					<td class="priceDesconto">{total_cards}€</td>
					<td></td>
				</tr>
				{/loop}
			</tbody>
			<tfoot>
				<tr class="cart-shipp">
					<td>Método de envio:</td>
					<td></td>
					<td colspan="4">
						À <b>Cobraça</b> (1.60€) + <b>Registado</b> (2.30€)
						<br>*(Valor pode variar, consoante o nº de cartas e peso total)
						<br><i>(Correio registado previne extravios)</i>
						<!-- http://wiki.answers.com/Q/How_much_does_a_magic_the_gathering_card_weigh -->
						<!-- 0.058 ounces is equivalent to 1.64 grams -->
					</td>
					<td>3.90€*</td>
					<td></td>
				</tr>
				{loop func="shoppingCost"}
				<tr class="cart-shipp2">
					<td>Total a pagar:</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td class="cart-total bold">{total_payment}€</td>
					<td></td>
				</tr>
				{/loop}
			</tfoot>
		</table>
	</div>
