
	<div class="cardslist">
		<input type="button" value="Actualizar Preços" onclick="actualizarPrecos(this);">
		<table class="table table-striped table-hover table-condensed">
			<thead>
				<tr class="header-table-cards">
					<td>multiverseid</td>
					<td>Nome</td>
					<td>Colecção</td>
					<td>Preço</td>
					<td>Data Alteração</td>
				</tr>
			</thead>
			<tbody>
				{loop func="updatePrices"}
				<tr>
					<td>{multiverseid}</td>
					<td>{name_eng}</td>
					<td>{collection}</td>
					<td>{price}</td>
					<td>{data_alterado}</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
